<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeremy.controller">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:name=".JnaBatteryManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2XKrTTMbyD6E9uLjJw4Dohigao3I_Ybc" />

        <service
            android:name=".ControllerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".BatteryService"
            android:enabled="true"
            android:exported="false"></service>

        <activity android:name="com.example.jeremy.controller.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.jeremy.controller.view.GeofencesActivity"
            android:label="@string/app_name"></activity>

        <provider
            android:name="com.example.jeremy.controller.persistent.GeofenceProvider"
            android:authorities="com.example.jeremy.controller"
            android:exported="false" />

        <activity
            android:name="com.example.jeremy.controller.view.AddEditGeofenceActivity"
            android:label="Add/Edit geofence" />

        <activity
            android:name="com.example.jeremy.controller.view.SettingsActivity"
            android:label="Geofencing Settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="controller" />
            </intent-filter>
        </activity>

        <service android:name=".service.LocativeService" />
        <service android:name=".service.TransitionService" />
        <service android:name="com.example.jeremy.controller.service.ReceiveTransitionsIntentService" />

        <receiver android:name="com.example.jeremy.controller.geo.StartupBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>